body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
    padding-top: 70px; /* Adjust according to the height of your header */
}
.container {
    margin-top: 10px;
}
.row {
    margin-bottom: 20px;
}
.intro-text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.intro-text p, .intro-text ul {
    margin: 0 0 15px;
}
.intro-heading {
    /* font-size: 28px; */
    font-weight: bold;
    color: #EF923E;
    margin-bottom: 20px;
    text-align: center;
}
.col-12 {
    background: linear-gradient(45deg, #EF923E, #FFCD3C);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}
.col-12:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.col-12::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px dashed #fff;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.col-12:hover::before {
    opacity: 1;
}
.col-12 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
