body {
    /* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
    background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');

}
 
.bg-orange {
    background: linear-gradient(135deg, #EF923E, #FFCD3C);
    border-radius: 20px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}
video{
    border-radius: 20px;
}

